<<<<<<< HEAD
=======
html{
    
    color:aliceblue;
    text-align: center;
    background-image: linear-gradient(#303030, #202020);
}

>>>>>>> 5c8e3544f82045829f79cb36d176aba92ffcac82
@font-face{
    
    font-family: elianto;
    src: url("fonts/Elianto-Regular.ttf");
    
}

@font-face{
    
    font-family: doppioOne;
    src: url("fonts/DoppioOne-Regular.ttf");
                
}

<<<<<<< HEAD
/*Overall Site style:

HTML, Header, header size, p, body, footer*/

html{
    
    color: aliceblue;
    text-align: center;
    background-image: linear-gradient(#303030, #202020);
    padding: 20px;
}

header{
    
    font-family: elianto;
    font-size:28px;
    
=======
header{
    
    font-family: Elianto;
    margin: 50px;
    margin-top: 65px;
    font-size:28px;
    
    
>>>>>>> 5c8e3544f82045829f79cb36d176aba92ffcac82
}

h2{
    
    font-family: elianto;
    font-size:18px;
<<<<<<< HEAD
    padding-left: 10px;
    padding-right: 10px;
    
}

h3, body{

    font-family: doppioOne;
    font-size: 16px;
    margin: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    
=======
    
}

h3{

    font-family: doppioOne;
    font-size: 16px;
    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
>>>>>>> 5c8e3544f82045829f79cb36d176aba92ffcac82
}

footer{
    
<<<<<<< HEAD
    margin-top: 50px;
=======
    margin-top: 75px;
>>>>>>> 5c8e3544f82045829f79cb36d176aba92ffcac82
    margin-bottom: 50px;
    font-family: doppioOne;
}

<<<<<<< HEAD
/*Links and navigation*/
a{

    color: lightslategray;
    text-decoration: none;
    transition: color .2s ease;
    
}
a:hover{

    color: aliceblue;

}

li.nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 12;
}

/*Images*/
img{
        
    max-width: 75%;
    height: auto;
=======
img{
            
    border-radius: 50%;
    max-width: 450px;
    height: auto;
    padding: 10;
>>>>>>> 5c8e3544f82045829f79cb36d176aba92ffcac82
}