/*Basic Page Setup + fonts*/
@font-face{
    
    font-family: elianto;
    src: url("fonts/Elianto-Regular.ttf");
    
}

@font-face{
    
    font-family: doppioOne;
    src: url("fonts/DoppioOne-Regular.ttf");
                
}

article, section{

    margin-left: 10%;
    margin-right: 10%;

}

html{
    
    color: aliceblue;
    background-image: linear-gradient(#303030, #202020);
    background-attachment: fixed;
    text-align: center;
    padding: 10px;
}
header{

    font-size:28px;
    font-family: elianto;
    margin: 30px;
    margin-top: 50px;
    
}

h2{
    
    font-family: elianto;
    font-size: 18px;
    
}            

h2.SansSerif{
                
    font-family: doppioOne;
    font-size: 24px;
    padding: 10px;
}   
em.FootNote{
    
    font-size: 12px;
    
}

h3{

    font-family: doppioOne;
    font-size: 16px;
    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

body{
                
    display: block;
    font-family: doppioOne;
    font-size: 18px;
    margin: 85px;
    
}
p, p span{

    box-sizing: border-box;
    display: block;
    color: #acacac;
    font-family: doppioOne;
    padding: 8px;
    font-size: 20px;
}

footer{
    
    font-family: doppioOne;
    font-size: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

a:visited{

    color: aliceblue;
}

.navigation-bar {
    
    display: inline-block;
    font-family: doppioOne;
    font-size: 18px;
    padding-bottom: 25px;
    
}

.navigation-bar a{

    color: lightslategray;
    text-decoration: none;
    padding: 10px 14px;
    transition: opacity .2s ease;
    
}
.navigation-bar a:hover{

    transition: color .2s ease;
    color: aliceblue;

}

img{

    border-radius: 5%;
    height: auto;
    margin: auto;
    max-width: 350px;
    opacity: 70%;
    padding: 10;
    transition: opacity .5s;
}

img:hover{
            
    opacity: 100%;

}

img.rounded{

    border-radius: 50%;

}

.art-gallery-dropdown{

    position: relative;
    display: inline-block;
    
}

.art-gallery-dropdown-content{

    display: none;
    position: fixed;
    background-color: #3b3b3b;
    padding: 10px;
    min-width: 14px;

}

.art-gallery-dropdown:hover .art-gallery-dropdown-content{

    display: block;
    
}